* {
    box-sizing: border-box;
}

body {
    width: 317px;
    font-family: Inter, sans-serif;
    background-color: #1A1B21;
    color: #FFFFFF;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 700;
}

img {
    width: 317px;
    height: 317px;
    border-radius: 10px 10px 0px 0px;
}

h3 {
    color: #F3BF99;
    font-weight: 400;
}

span {
    display: block;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    width: 115px;
    height: 34px;
    text-decoration: none;
    color: black;
    background-color: #D1D5DB;
    padding: 10px;
    border-radius: 5px;
}

.email {
    width: 12.8px;
    height: 9.6px;
    display: block;
}

.linkedIn-btn {
    background-color: #297FE5;
    color: #FFFFFF;
}

.linkedIn {
    width: 12.8px;
    height: 9.6px;
    display: block;
}

.info-btn > h6 {
    font-size: 14px;
}

.about, .interests {
    width: 247px;
    margin: 0 auto;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161619;
    height: 64px;
}

.icon {
    width: 25px;
    height: 25px;
    color: #918E9B;
    margin: 25px;
}

